src/main/resources/xsd/judgment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		targetNamespace="urn:lex:content:1"
		xmlns="urn:lex:content:1"
		elementFormDefault="qualified">

	<xs:element name="judgment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" type="headerType"/>
				<xs:element name="body" type="bodyType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="content_id" type="nonBlankString"/>
			<xs:element name="title" type="nonBlankString"/>
			<xs:element name="court" type="nonBlankString"/>
			<xs:element name="jurisdiction" type="nonBlankString"/>
			<xs:element name="decision_date" type="xs:date"/>
			<xs:element name="citations" type="citationsType"/>
			<xs:element name="parties" type="partiesType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="citationsType">
		<xs:sequence>
			<xs:element name="citation" type="citationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="citationType">
		<xs:simpleContent>
			<xs:extension base="nonBlankString">
				<xs:attribute name="type" type="nonBlankString" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="partiesType">
		<xs:sequence>
			<xs:element name="party" type="partyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="partyType">
		<xs:simpleContent>
			<xs:extension base="nonBlankString">
				<xs:attribute name="role" type="nonBlankString" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="bodyType">
		<xs:sequence>
			<xs:element name="section" type="sectionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sectionType">
		<xs:sequence>
			<xs:element name="p" type="paragraphType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="sectionTypeValue" use="required"/>
	</xs:complexType>

	<xs:complexType name="paragraphType">
		<xs:simpleContent>
			<xs:extension base="nonBlankString">
				<xs:attribute name="id" type="nonBlankString" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="sectionTypeValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="facts"/>
			<xs:enumeration value="reasons"/>
			<xs:enumeration value="disposition"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonBlankString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value=".*\S.*"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
